* {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
}

.continer {
  width: 1440px;
}

.header {
  width: 100%;
  height: 900px;
}
.header nav {
  width: 100%;
  height: 10%;
}
.header nav .navtop {
  width: 100%;
  height: 30%;
  background-color: #B36050;
}
.header nav .navtop p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header nav .navbottom {
  width: 100%;
  height: 70%;
  display: flex;
}
.header nav .navbottom .nav-list {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav .navbottom .nav-list ul {
  width: 100%;
}
.header nav .navbottom .nav-list ul li {
  display: flex;
}
.header nav .navbottom .nav-list ul li a {
  text-decoration: none;
  margin-left: 2px;
  color: #B4604D;
}
.header nav .navbottom .nav-list ul li a:hover {
  border-bottom: 1px solid;
}
.header nav .navbottom .nav-logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav .navbottom .nav-icon {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header nav .navbottom .nav-icon .accaunt {
  text-decoration: none;
  color: #B36050;
  margin-left: 300px;
}
.header nav .navbottom .nav-icon .buy-box {
  color: #B36050;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header nav .navbottom .nav-icon .buy-box p {
  margin-left: 5px;
}
.header .dae-img {
  width: 100%;
  height: 48%;
}
.header .dae-img img {
  width: 100%;
  height: 100%;
}
.header .dae-text {
  width: 100%;
  height: 42%;
  background-color: #A9AE8D;
}
.header .dae-text h3 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 28px;
  color: white;
}
.header .dae-text h2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}
.header .dae-text button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B36050;
  color: white;
  font-size: 25px;
  border: none;
  width: 150px;
  height: 50px;
}

.main {
  width: 100%;
}
.main .pretty-bottle {
  width: 100%;
  height: 700px;
  border: 1px solid;
}
.main .pretty-bottle h3 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B45F4D;
  font-size: 27px;
}
.main .pretty-bottle ul {
  width: 100%;
  height: 90%;
  display: flex;
}
.main .pretty-bottle ul li {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}
.main .pretty-bottle ul li a {
  text-decoration: none;
  color: #B45F4D;
}
.main .pretty-bottle ul li a:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.main .desert {
  width: 100%;
  height: 500px;
  border: 1px solid red;
}
.main .desert .desert-img {
  width: 80%;
  height: 82%;
  margin: 50px 150px;
  background-image: url("../img/shag'am.png");
}
.main .desert .desert-img .desert-text {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #DF9B7A;
  color: white;
}
.main .desert .desert-img .desert-text h3 {
  width: 90%;
  height: 100%;
  display: flex;
  font-size: 30px;
  margin-left: 50px;
  align-items: center;
}
.main .desert .desert-img .desert-text a {
  text-decoration: none;
  color: white;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 50px;
  font-size: 22px;
}
.main .meet-dae {
  width: 100%;
  height: 900px;
  border: 1px solid red;
  background-color: #F1D3B9;
  display: flex;
}
.main .meet-dae .img-box {
  width: 50%;
  height: 100%;
}
.main .meet-dae .img-box img {
  margin-top: 100px;
  margin-left: 190px;
}
.main .meet-dae .img-text {
  width: 50%;
  height: 100%;
}
.main .meet-dae .img-text .img-text-box {
  margin-top: 180px;
  margin-right: 188px;
  width: 500px;
  height: 550px;
  background-color: white;
}
.main .meet-dae .img-text .img-text-box h4 {
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #B45F4D;
}
.main .meet-dae .img-text .img-text-box p {
  font-size: 19px;
  margin: 0 50px 50px 50px;
  color: #B45F4D;
}
.main .meet-dae .img-text .img-text-box a {
  font-size: 19px;
  margin: 0 50px 50px 50px;
  text-decoration: none;
  color: #B45F4D;
}/*# sourceMappingURL=main.css.map */